{% extends 'base.html.twig' %}

{% block title %}À propos
{% endblock %}

{% block body %}
<div class="apropos-container">
    <div class="decor-wrapper">
        <div class="decor-gauche"></div>
        <div class="apropos-texte">
            <h1 class="titreapropos elegant-underline">{{ contenus.titre|default('À propos :')}}</h1>
            <div>
                <p>
                    {{ contenus.p1|default('Née d\'une passion pour le service, la qualité et l\'élégance, Gilaé est une 
                    conciergerie qui anticipe tous vos besoins avec disponibilité et bienveillance.')}}
                </p>
                <p>
                    {{ contenus.p2|default('Entre discrétion et engagement, exigence et empathie, nous vous accompagnons 
                    avec le plus haut niveau de professionnalisme, permettant ainsi à nos clients 
                    de vivre une expérience la plus simple et sereine possible.')}}
                </p>
                <p>
                    {{ contenus.p3|default('Au-delà de la gestion logistique, nous nous attachons aux moindres détails 
                    pour une vie sublimée au quotidien.')}}
                </p>
            </div>
        </div>
        <div class="decor-droite"></div>
    </div>
    <div class="decor-bas"></div>
</div>
{% endblock %}

