{% extends 'base.html.twig' %}

{% block title %}Gilaë{% endblock %}

{% block body %}
    {{ include('pages/navbar/navbar.html.twig') }}

    <div><h1>Bienvenue Page home</h1></div>
    <div class="background-container"></div>

    <div><h2>Votre alliée du quotidien pour une vie simplifiée, sereine et élégante.</h2></div>
    <div><p>Parce que chaque instant mérite votre pleine attention, nous vous proposons des services de conciergerie sur mesure, pensés pour alléger votre charge mentale et vous offrir le luxe de la tranquillité.</p></div>

    <div><h1>Résumé des services</h1></div>
    <div><h1>Zones couvertes</h1></div>
    <div><h1>Devis, s'inscrire, contact</h1></div>

{% endblock %}
