{% extends 'base.html.twig' %}

{% block title %}Gilaë{% endblock %}

{% block body %}
    {{ include('pages/navbar/navbar.html.twig') }}

    <div><h1>Bienvenue Page home</h1></div>
    <div class="background-container"></div>
    <div><h1>Résumé des services</h1></div>
    <div><h1>Zones couvertes</h1></div>
    <div><h1>Devis, s'inscrire, contact</h1></div>

{% endblock %}
