.pffaq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.faq-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Exemple si tu veux styliser elegant-underline */
.faq-title.elegant-underline {
    border-bottom: 3px solid #625F55;
    display: inline-block;
    padding-bottom: 0.3rem;
}

body.dark-mode .faq-title {
    color: #625F55;
}

.ffaq-content {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

.ffaq-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ffaq-item {
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.ffaq-question {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.ffaq-reponse {
    font-size: 1rem;
    line-height: 1.6;
}

.ffaq-contact {
    margin-top: 3rem;
    font-size: 1rem;
}

.faq-button {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: #f1ede4;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.faq-button:hover {
    background-color: #e3dfd7;
}

.btn-containervaliderffaq {
    position: absolute;
    bottom: 20px;     /* 20px du bas de la fenêtre */
    left: 80%;        /* positionné à 80% horizontalement */
    transform: translateX(-50%);
    z-index: 1000;
}

#btn-validerffaq {
    padding: 20px 90px;
    font-size: 1.1rem;
    cursor: pointer;
    background: #f0f0f000;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    color: white;
    transition: background 0.3s;
}

#btn-validerffaq:hover {
    background: #e0e0e033;
}

.locale-selector {
    margin-bottom: 20px;
    text-align: center;
}

.locale-selector a {
    text-decoration: none;
    color: #b2adad;
    padding: 0 5px;
    font-weight: normal;
}

.locale-selector a.active {
    font-weight: bold;
    color: #ffffff;
}

.locale-selector a:hover {
    text-decoration: underline;
}

.ffaq-decor {
    position: absolute;
    top: -100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.ffaq-decor.left {
    width: 300px;
    height: 700px;
    left: -300px;
    background-image: url('../images/faq/darkg.webp');
}

.ffaq-decor.right {
    width: 300px;
    height: 700px;
    right: -300px;
    background-image: url('../images/faq/darkd.webp');
}

body.dark-mode .ffaq-decor.left {
    background-image: url('../images/faq/flowerlightg.webp');
}

body.dark-mode .ffaq-decor.right {
    background-image: url('../images/faq/flowerlightd.png');
}