body {
  margin: 0;
  background-color: #5C7151;
  padding-top: 100px;
}
.background-container {
  background-image: url('/assets/images/logo/background6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark-mode .background-container{
  background-image: url('/assets/images/logo/background5light.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}