.button-grid {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    gap: 20px;
    /* Espace entre les colonnes */
    margin: 0 auto;
    max-width: 600px;
    /* Ajustez selon vos besoins */
}

.button-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* Espace entre les boutons */
    margin-top: 50px;
}

.menu-button {
    padding: 20px 90px;
    background: #f0f0f000;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.3s;
}

.menu-button:hover {
    background: #e0e0e033;
}

.btn-modifmdp {
    padding: 20px 90px;
    background: #f0f0f000;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-modifmdp:hover {
    background: #e0e0e033;
}


.pricing-header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* Empile les éléments verticalement */
    align-items: center;
    /* Centre les éléments horizontalement */
    gap: 20px;
    /* Espace entre le titre et l'image */
}

.pricing-header h1 {
    font-size: 2.5rem;
    /* Taille du titre */
    color: #ffffff;
    /* Couleur du texte */
    margin: 0;
    /* Supprime les marges par défaut */
    padding: 0;
}

.header-image {
    max-width: 150px;
    /* Ajustez la taille de l'image */
    height: auto;
    /* Garde les proportions */
    display: block;
    /* Évite l'espace sous l'image */
}