/* === Structure globale === */
.mention-container {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.mention-botanical {
  position: absolute;
  pointer-events: none;
}

.mention-botanical img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Position des éléments décoratifs */
.mention-left {
  top: 0;
  left: 0;
}

.mention-right {
  top: 0;
  right: 0;
}

.mention-bottom-left {
  bottom: 0vh;
  left: 0;
  width: 25vw;
  max-width: 300px;
}

.mention-bottom-right {
  bottom: 0vh;
  right: -2vw;
  width: 25vw;
  max-width: 300px;
}

/* === Contenu principal === */
.mention-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.mention-title {
  font-size: 4rem;
  color: #ffffff;
  font-family: 'Jacques Francois', serif;
  margin-bottom: 20px;
  text-align: center;
}

body.dark-mode .mention-title {
  color: #625F55;
}

.mention-subtitle {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 1.2rem;
  font-family: 'Jacques Francois', serif;
  text-align: center;
}

body.dark-mode .mention-subtitle {
  color: #625F55;
}

.mention-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.mention-section {
  margin-bottom: 30px;
  text-align: left;
}

.mention-section h2 {
  color: #ffffff;
  border-left: 4px solid #7A8B75;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-family: 'Jacques Francois', serif;
}

body.dark-mode .mention-section h2 {
  color: #625F55;
  border-left: 4px solid #B3B04C;
}

.mention-text {
  color: #ffffff;
  line-height: 1.6;
  font-size: 1.1rem;
  font-family: 'Jacques Francois', serif;
}

body.dark-mode .mention-text {
  color: #625F55;
}

/* Notice finale */
.mention-notice {
  font-size: 0.9rem;
  opacity: 0.9;
  max-width: 32rem;
  margin: 30px auto 0;
  line-height: 1.7;
  color: #ffffff;
  text-align: center;
  font-family: 'Jacques Francois', serif;
}

body.dark-mode .mention-notice {
  color: #625F55;
}

/* Responsive */
@media (max-width: 992px) {
  .mention-title {
    font-size: 3rem;
  }

  .mention-grid {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .mention-grid {
    grid-template-columns: 1fr;
  }

  .mention-title {
    font-size: 2.5rem;
  }

  .mention-subtitle {
    font-size: 1rem;
  }

  .mention-section h2 {
    font-size: 1.5rem;
  }

  .mention-text {
    font-size: 1rem;
  }

  .mention-bottom-left,
  .mention-bottom-right {
   display: none;
  }
  .mention-left,
  .mention-right {
    display: none;
  }
}

@media (max-width: 480px) {
  .mention-title {
    font-size: 2rem;
  }

  .mention-grid {
    padding: 0 15px;
  }

  .mention-subtitle {
    font-size: 0.95rem;
  }

  .mention-section h2 {
    font-size: 1.0rem;
  }

  .mention-text {
    font-size: 0.95rem;
  }

  .mention-bottom-left,
  .mention-bottom-right {
    display: none;
  }

  .mention-left,
  .mention-right {
    display: none;
  }
}
