.pricingTarifs-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: 'Instrument Serif', serif;
    color: #000000;
}

.pricingTarifs-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}

.headerTarifs-image-left {
    left: 0;
    max-width: 300px;
    height: auto;
}

.headerTarifs-image {
    right: 0;
    max-width: 300px;
    height: auto;
}

.pricingTarifs-header h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 2.8rem;
    color: #ffffff;
    
}

.pricingTarifs-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.pricingTarifs-card {
    flex: 1;
    min-width: 250px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.pricingTarifs-card h2 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 20px;
}

.priceTarifs {
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.priceTarifs-text small {
    font-size: 1.2rem;
    color: #7f8c8d;
}

.featuresTarifs {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

.featuresTarifs li {
    padding: 10px 0;
    border-bottom: 1px solid #ecf0f1;
    color: #2c3e50;
}

.featuresTarifs img {
    margin-top: 20px;
    width: 250px;
    height: auto;
}

.dividerTarifs {
    height: 1px;
    background: linear-gradient(to right, transparent, #bdc3c7, transparent);
    margin: 20px 0;
}

@media (max-width: 768px) {
    .pricingTarifs-cards {
        flex-direction: column;
        gap: 40px;
    }

    .pricingTarifs-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .headerTarifs-image-left,
    .headerTarifs-image {
        position: static;
        max-width: 100px;
        margin: 10px auto;
    }
}
