.pricing-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

.pricing-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-image-left {
    position: absolute;
    left: 0;
}

.header-image {
    position: absolute;
    right: 0;
}

.pricing-header h1 {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

.header-image {
    max-width: 400px;
    /* Ajustez cette valeur selon vos besoins */
    height: auto;
}

.header-image-left {
    max-width: 500px;
    /* Ajustez cette valeur selon vos besoins */
    height: auto;
}

.pricing-cards {
    margin-top: px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.pricing-card {
    flex: 1;
    min-width: 50px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
}


.pricing-card h2 {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 5px;
}

.price {
    padding: 60px 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 5px 0;
}

.price small {
    font-size: 2rem;
    color: #2c3e50;
}

.features {
    font-size: 1.7rem;
    list-style: none;
    padding: 0;
    margin: 30px 0;
    text-align: center;
}

.features li {
    padding: 40px 0;
    border-bottom: 1px solid #ecf0f1;
    color: #2c3e50;
}

.divider {
    height: 1px;
    background: linear-gradient(to right, transparent, #bdc3c7, transparent);
    margin: 20px 0;
}

@media(max-width: 768px) {
    .pricing-cards {
        flex-direction: column;
    }

    .pricing-header {
        flex-direction: column;
    }

    .header-image {
        max-width: 100px;
    }
}