{% extends 'base.html.twig' %}

{% block title %}Gilaë{% endblock %}

{% block body %}

<footer class="custom-footer">
    <div class="footer-top">
        <div>
            <p>Le bourg, La Baleine</p>
            <p>+06.00.00.00.00</p>
        </div>
        <div>
            <p>Mentions légales & politique de confidentialité</p>
        </div>
        <div>
            <p>Facebook</p>
        </div>
        <div>
            <p>Instagram</p>
        </div>
        <div>
            <p>Whatsapp</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 Conciergerie Gilaë. Tous droits réservés.</p>
    </div>
</footer>

{% endblock %}
