<footer class="custom-footer">
	<div class="footer-top">
		<div>
			<p>Le bourg, La Baleine</p>
			<p>+06.00.00.00.00</p>
		</div>
		<div>
			<a href="{{ path('app_mention') }}">
				Mentions légales &<br>politique de confidentialité
			</a>
		</div>
		<div>
			<a href="https://wa.me/0600000000" target="_blank" class="whatsapp-link">
				<div class="whatsapp-icon" alt="whatsapp-icone"></div>
				<p>Whatsapp</p>
			</a>
		</div>
	</div>
</div>
<div class="footer-bottom">
	<p>© 2025 Conciergerie Gilaë. Tous droits réservés.</p>
</div></footer>
