{% extends 'base.html.twig' %}

{% block title %}Services | Gilae Conciergerie
{% endblock %}

{% block body %}

	<style>
		.container-inline {
			font-size: 0; /* Supprime l'espace blanc entre les éléments inline-block */
		}

		.image-inline,
		.text-inline {
			display: inline-block;
			vertical-align: middle; /* Alignement vertical */
			font-size: 16px; /* Réinitialise la taille du texte */
		}

		.image-inline {
			width: 150px;
			margin-right: 15px; /* Espacement */
		}
	</style>
	{{ include('pages/navbar/navbar.html.twig') }}

	<img src="{{ asset('assets/images/logo/serviceup.png') }}" alt="Logo" style="display: block; margin: 0 auto; width: 800px; height: auto;">

	<div class="container-inline">
		<img src="{{ asset('assets/images/logo/text1s.png') }}" alt="Logo" style="display: block; margin: 0 auto; width: 800px; height: auto;">
		<img src="{{ asset('assets/images/logo/calendar.png') }}" alt="Logo" style="display: block; margin: 0 auto; width: 800px; height: auto;">

		
	</div>
{% endblock %}
