{% extends 'base.html.twig' %}

{% block title %}Services | Gilae Conciergerie
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/service.css') }}">
{% endblock %}

{% block body %}
{{ include('pages/navbar/navbar.html.twig') }}

<div style="display: flex; flex-direction: column; gap: 10px;">

	<button type="button" class="btn btn-primary">
			<input type="checkbox" id="myCheckbox" name="myCheckbox">
			<label for="myCheckbox">Gestion de locations courte durée</label>
		</button>
	</button>
    
    <button type="button" class="btn btn-primary">
			<input type="checkbox" id="myCheckbox" name="myCheckbox">
			<label for="myCheckbox">Accueil des voyageurs</label>
		</button>
	</button>
    
    <button type="button" class="btn btn-primary">
			<input type="checkbox" id="myCheckbox" name="myCheckbox">
			<label for="myCheckbox">Ménage & blanchisserie</label>
		</button>
	</button>
    
    <button type="button" class="btn btn-primary">
			<input type="checkbox" id="myCheckbox" name="myCheckbox">
			<label for="myCheckbox">Remise des clés</label>
		</button>
	</button>
   
    <button type="button" class="btn btn-primary">
			<input type="checkbox" id="myCheckbox" name="myCheckbox">
			<label for="myCheckbox"> Maintenance & petits travaux</label>
		</button>
	</button>
    
    <button type="button" class="btn btn-primary">
			<input type="checkbox" id="myCheckbox" name="myCheckbox">
			<label for="myCheckbox">Services personnalisés (courses, transferts, etc.)</label>
		</button>
	</button>
</div>
{% endblock %}
