{% extends 'base.html.twig' %}

{% block title %}Gilaë{% endblock %}

{% block body %}

    {{ include('pages/navbar/navbar.html.twig') }}
    <div><h1>Bienvenue Page temoiniage</h1></div>
    <div class="background-container"></div>
    
{% endblock %}
